	
	<div style="text-align: center;"><h1>Abcam旅游图片展</h1></div>
	<article class="jq22-container">
		<div class="content">
			<div class="chroma-gallery mygallery">
				<% @images.each do |image| %>
					<img src="<%= asset_path(image.url) %>" alt="<%= image.title %>" data-largesrc="<%= asset_path(image.url) %>">
				<% end %>

			</div>
		</div>
	
	</article>




