<!DOCTYPE html>
<html>
<head>
<script src="http://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
<link href="http://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
<script src="http://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<%= csrf_meta_tags %>
<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>2017 Abcam 旅游照片展</title>
  <body>
    <div class="login">
      <div class="clearfix"></div>
      <div class="container" style="margin-top: 100px;">
        <div class="col-md-3 col-center-block login-box">
	       <div class="logo">
            <h1>2017 Abcam 旅游照片展</h1>
           </div>
          <h6></h6>

          <!-- ldap登录表单 -->
          <div id="ldap-box" style="display:black" >
            <div class="login-body">
                <!-- ldap登录表单 -->
                <form method="post" action="/auth/ldap/callback" novalidate="noValidate">
                  <div class="form-error-container">

                  </div>
                  <div class="form-group form-group-icon">
                    <input type="text" id="username" name="username" placeholder="电脑登录用户名简写:clliu" class="form-input email">
                    <span class="glyphicon glyphicon-envelope icon"></span>
                  </div>
                  <div class="form-group form-group-icon">
                    <input type="password" id="password" name="password" placeholder="电脑登录密码" class="form-input password">
                    <span class="glyphicon glyphicon-lock icon"></span>
                  </div>
                  <div class="form-group">
                    <input class="btn btn-primary btn-block submit" name="commit" type="submit" value="LDAP登录">
                  </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%- debug(params) if Rails.env.development? %>
  </body>
</html>
