<!DOCTYPE html>
<html>
<head>
	<script src="http://www.jq22.com/jquery/jquery-1.10.2.js"></script>
	<title></title>
</head>
<body>
	<style type="text/css">
        #main {
            -webkit-column-width: 202px;
            -moz-column-width:202px;
            column-width: 202px;
        }

        .box{
        	padding: 15px 7px 0 7px;
        	float: left;
        }

        .pic{
        	border: 1px solid #dddddd;
        }

        .pic img{
        	width: 165px;
        	padding: 10px;
        }
    </style>


 <%= yield %>
</body>
</html>